<%= image_tag "#{flat.photos.last.url}", height: 100 %>
<p><%= flat.name %></p>
<a href="/flats/<%="#{flat.id}"%>/bookings/new?arrival=<%="#{@check_in}"%>&departure=<%="#{@check_out}"%>" role='button'>More info</a>
