<h1 class="text-center">Edit flat</h1>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4">


    <%= simple_form_for [@flat] do |f|%>
    <div class="form-box">
      <div class="form-inputs">
        <%= f.input :name, :label => "Flat name", input_html: { class: 'form-input'} %>
        <%= f.input :address, input_html: { class: 'form-input'}  %>
        <%= f.input :city, input_html: { class: 'form-input'}  %>
        <div class="row">
          <div class="col-xs-6"><%= f.input :max_guest, input_html: { class: 'form-input'}  %></div>
          <div class="col-xs-6"><%= f.input :price_per_night, input_html: { class: 'form-input'}  %></div>
        </div>
        <%= f.input :description, input_html: { class: 'form-input'}  %>
      </div>
      <div class="photo-input">
        <%= f.file_field :url, multiple: true %>
        <!-- <div class="flat-photos">
          <i class="fas fa-plus"></i> <i class="fas fa-camera-retro"></i>
          <span id="file-count">0</span><span>  selected files</span>
        </div> -->
      </div>
      <div class="form-actions">
        <%= f.button :submit, class:"btn btn-primary button-size" %>
        </div>
      <% end %>
    </div>


    </div>
  </div>
</div>

