<form action="/flats/results" method="get">
  <input type="string" name="city" placeholder="City?" value=<%="#{@city}"%>>
  <input type="integer" name="guests" placeholder="#Guests?" value=<%="#{@max_guest}"%>>
  <label for="arrival">Arrival</label>
  <input type="date" name="arrival" value=<%="#{@check_in}"%>>
  <label for="departure">Departure</label>
  <input type="date" name="departure" value=<%="#{@check_out}"%>>
  <input type="submit">
</form>
<div class="main-container">
  <div class="container">
    <div class="row">
      <% @flats.each do |f| %>
      <div class="col-xs-12 col-sm-6">
        <div class="card-content">
          <%= link_to flat_path(f) do %>
            <div class="bg-img" style="background-image: url('<%= f.photos[0] %>');"></div>
            <div class="content">
              <div class="card-info">
                <p class= "city-name"><%= f.city %></p>
                <p><%= f.name %></h3>
              </div>
              <div class="card-icons">
                <ul class="list-inline">
                  <li><p><i class="fas fa-euro-sign"></i><%= f.price_per_night %>pn</p></li>
                  <li><p><i class="fas fa-users"></i><%= f.max_guest %></p></li>
                </ul>
              </div>
              <div class="card-button">
              <a class='btn btn-primary' href="/flats/<%="#{f.id}"%>/bookings/new?arrival=<%="#{@check_in}"%>&departure=<%="#{@check_out}"%>" role='button'>Book Now!</a>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div
        id="map"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
      ></div>
    </div>
  </div>
</div>
