<div class="main-container">
  <div class="container">
    <div class="row">
      <div class="search-form col-xs-12">
      <form action="/flats/results" method="get">
        <div class="search-form-content">
          <div class="search-form-labels">
           <label for="arrival">City</label>
           <label for="arrival">Guests</label>
           <label for="arrival">Check-in</label>
           <label for="arrival">Check-out</label>
          </div>
          <div class="search-form-inputs">
           <input type="string" name="query[city]" placeholder="City" value=<%="#{@city}"%>>
           <input type="integer" name="query[guests]" placeholder="Guests" value=<%="#{@max_guest}"%>>
           <input type="date" class="date" name="query[check_in]" value=<%="#{@check_in}"%>><br>
           <input type="date" name="query[check_out]" value=<%="#{@check_out}"%>>
          </div>
        </div>
        <input type="submit" name="Filter">
      </form>
      </div>
      <% @flats.each do |f| %>
      <div class="col-xs-12 col-sm-6">
        <div class="card-content">
          <%= link_to flat_path(f) do %>
            <div class="bg-img" style="background-image: url('<%= f.photos[0] %>');"></div>
            <div class="content">
              <div class="card-info">
                <p class= "city-name"><%= f.city %></p>
                <p><%= f.name %></p>
              </div>
              <div class="card-icons">
                <ul class="list-inline">
                  <li><p><i class="fas fa-euro-sign"></i><%= f.price_per_night %>pn</p></li>
                  <li><p><i class="fas fa-users"></i><%= f.max_guest %></p></li>
                </ul>
              </div>
              <div class="card-button">
              <a class='btn btn-primary' href="/flats/<%="#{f.id}"%>/bookings/new?arrival=<%="#{@check_in}"%>&departure=<%="#{@check_out}"%>" role='button'>More info</a>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
      <div
        id="map"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
      ></div>
</div>
