<h1><%= @flat.address %></h1>
<h3><%= @flat.city %></h3>
<p><%= @flat.description %></p>


<%= link_to "Back to search Results", "/flats/results"%>

<% if current_user == @flat.user %>
<%= link_to "Update", "/flats/@flat.user_id/update" %>
<%= link_to "Delete", "/flats/@flat.user_id/delete" %>
<% end %>
