<h1><%= @flat.name %></h1>
<h3><%= @flat.city %></h3>
<p><%= @flat.description %></p>
<p><%= @flat.address %></p>

<%= cl_image_tag @flat.photos[0], height: 100, width: 100, crop: :fill %>

<br>
<%= link_to "Back to search Results", "/flats/results"%>
<br>

<% if current_user == @flat.user %>
<%= link_to "Edit Flat", "/flats/#{params[:id]}/edit" %>
<br>
<%= link_to "Delete Flat", flat_path(@flat),
      method: :delete,
      data: { confirm: "Are you sure?" } %>
<% end %>
