
  <a class='btn btn-primary' href="/flats/<%="#{@flat.id}"%>/bookings/new?arrival=<%="#{params[:arrival]}"%>&departure=<%="#{params[:departure]}"%>" role='button'>Book Now!</a>

  <br>
  <%= link_to "Back to search Results", "/flats/results"%>
  <br>

  <% if current_user == @flat.user %>
  <%= link_to "Edit Flat", "/flats/#{params[:id]}/edit" %>
  <br>
  <%= link_to "Delete Flat", flat_path(@flat),
        method: :delete,
        data: { confirm: "Are you sure?" } %>
  <% end %>
</div>

