<%if @user == current_user %>
  <% if @user.host %>
  <!-- Hosting User Own Profile -->
  <div class="parallax" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.3) 0%, rgba(0,36,61,0.3) 50%), url('https://kitt.lewagon.com/placeholder/cities/barcelona');">
  </div>
  <div class="container">
    <div class="row" style="text-align: center;">
      <div class="col-lg-3 col-md-4 hide-sm">
        <%= image_tag "https://source.unsplash.com/user/erondu", alt: "alttext", class:"user-picture" %>
        <h2 class="prof-name"><%= "#{@user.first_name} #{@user.last_name}" %></h2>
      </div>
      <div class="col-lg-6 col-md-4 col-sm-12">
        <h3 class="profile-info"><%= "Previous Bookings: #{@user.bookings.count}"%></h3>
        <h3 class="profile-info"><%= "Flats Managed: #{@user.flats.count}"%></h3>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-12 button-box">
          <div class="btn btn-primary"><%= link_to "See my flats", host_flats_path %></div>
      </div>
    </div>
  </div>


  <div style="display:flex;">
    <!-- Host Inbox -->
    <div class="inbox-container">
    <%= render "/shared/host-inbox" %>
    </div>
    <!-- Visiting inbox -->
    <div class="inbox-container">
    <%= render "/shared/visiting-inbox" %>
    </div>
  </div>

  <% else %>
<!-- NON-Hosting User Own Profile-->

  <div class="parallax" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.3) 0%, rgba(0,36,61,0.3) 50%), url('https://kitt.lewagon.com/placeholder/cities/barcelona');">
  </div>
  <div class="container">
    <div class="row" style="text-align: center;">
      <div class="col-md-4 hide-sm">
        <%= image_tag "https://source.unsplash.com/user/erondu", alt: "alttext", class:"user-picture" %>
        <h2 class="prof-name"><%= "#{@user.first_name} #{@user.last_name}" %></h2>
        <div class="btn btn-primary">
            Edit Profile
          </div>
        <h3 class="profile-info"><%= "Previous Bookings: #{@user.bookings.count}"%></h3>
        <h3 class="profile-info"><%= "Flats Managed: #{@user.flats.count}"%></h3>
      </div>
      <div class="col-md-8 col-sm-10">
        <%= render "/shared/visiting-inbox" %>
      </div>
    </div>
  </div>











  <% end %>
<%else%>
<!-- someone else profile -->
<div class="parallax" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.3) 0%, rgba(0,36,61,0.3) 50%), url('https://kitt.lewagon.com/placeholder/cities/barcelona');">
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-3 col-md-4 hide-sm">
      <div class="user-picture-box"> <%= image_tag "https://source.unsplash.com/user/erondu", alt: "alttext", class:"user-picture" %>
      </div>
      <div class="user-verified-infos">
        <h2 id="verified-infos">Verified infos</h2>
        <div class="p-infos">
          <span class="glyphicon glyphicon-check" aria-hidden="true">E-mail</span>
        </div>
        <div class="p-infos">
          <span class="glyphicon glyphicon-remove" aria-hidden="true">Phone-number</span>
        </div>
      </div>
    </div>
    <div class="col-lg-9 col-md-6 col-sm-12">
      <h2>Hey, I'm <%= @user.first_name %> !</h2>
      <!-- <span>User address</span> -->
      <p><%= "I created my account in : #{@user.created_at.to_date}" %></p>
      <h3 id="previous-booking"><%= "Previous Bookings: #{@user.bookings.count}" %></h3>
    </div>
  </div>
</div>
<% end %>
