<h1><%= @user.first_name %></h1>
<h2><%= @user.last_name %></h2>

<% if @user == current_user %>
  <%= @user.bookings.each do |b| %>
    <p><%= b.flat.name %></p>
    <p><%= b.check_in %></p>
    <p><%= b.check_out %></p>
    <% if b.status = false %>
      <p>Pending host confirmation</p>
      <% else %>
      <p>Confirmed!</p>
    <% end %>
  <% end %>
<% end %>
