<%= simple_form_for :search, method: "get" do |f| %>
<div class="home-form-city">
  <%= f.input :City, as: :string, required: true %>
</div>
<div class="home-form-dates side-by-side-form">
  <div class="home-form-arrival">
    <%= f.input :Check_in, as: :string, required: false, input_html: {class: "datepicker"} %>
  </div>

  <div class="home-form-departure">
    <%= f.input :Check_out, as: :string, required: false, input_html: {class: "datepicker"} %>
  </div>
</div>
<div class="home-form-quantity">
  <%= f.input :max_guests, as: :integer, required: true %>
</div>
<%= f.button :submit, "Let's go!", class: "btn btn-primary" %>
<% end %>
</div>

