

  <h3 class="text-center inbox-title">Your Guests</h3>
  <div class="inbox">
    <p><%@hosted_bookings.sort_by{|b| b[:created_at]}.reverse.each do |b|%></p>
    <div class="inbox-card">
      <div class="inbox-info">
        <div class="big">
          <%= "#{b.user.first_name}"%>
        </div>
        <div class="small">
          <%= "#{b.user.last_name}"%>
        </div>
      </div>
      <div class="inbox-info">
        <div class="big">
          <%= "#{b.flat.name}" %>
        </div>
        <div class="small"> <%= "#{b.check_in.strftime("%B %d, %Y")} - #{b.check_out.strftime("%B %d, %Y")}" %></div>
      </div>
      <% if b.status == false%>
      <div class="confirmation-box">


          <%=link_to "Confirm", confirm_path(b), method: :patch , class: "btn btn-primary", id: "#{b.id}", remote: :true %>



      </div>
      <% else %>
      <div class="confirmed">
        Confirmed
      </div>
      <% end %>
    </div>
    <% end %>
    <hr width="50%">
  </div>



