<div class="navbar-socksup">
  <!-- Logo -->
  <a href="/" class="navbar-socksup-brand">
    <%= image_tag "pear-logo.png", alt: "logo" %>
  </a>

  <!-- Right Navigation -->
  <div class="navbar-socksup-right hidden-xs hidden-sm">
        <% if current_user.host %>
        <%= link_to "Add a Flat", new_flat_path, class: "navbar-socksup-item navbar-socksup-link" %>
        <% else %>
        <%= link_to "Become a Host", new_flat_path, class: "navbar-socksup-item navbar-socksup-link" %>
        <% end %>
    <%= link_to "Profile", profile_path(current_user), class: "navbar-socksup-item navbar-socksup-link" %>

    <!-- Profile picture with dropdown list -->
    <div class="navbar-socksup-item">
      <div class="dropdown">
        <img src="https://source.unsplash.com/user/erondu" class="avatar dropdown-toggle" id="navbar-socksup-menu" data-toggle="dropdown">
        <ul class="dropdown-menu dropdown-menu-right navbar-socksup-dropdown-menu">
          <li><%= link_to('Logout', destroy_user_session_path, method: :delete) %></li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-socksup-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fas fa-bars dropdown-toggle" data-toggle="dropdown" role="button"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-socksup-dropdown-menu">
        <% if current_user.host.nil? %>
        <li><%= link_to "Become a Host", new_flat_path %></li>
        <% else %>
        <li><%= link_to "Add a Flat", new_flat_path %></li>
        <% end %>
        <li><%= link_to "Profile", profile_path(current_user) %></li>
        <li><%= link_to('Logout', destroy_user_session_path, method: :delete) %></li>
      </ul>
    </div>
  </div>
</div>
